.columna_1{
    background: coral
}
.columna_2{
    background: blue
}
.columna_3{
    background: yellow
}
.columna_7{
    background: black
}
.columna_4{
    background: rebeccapurple
}
.columna_5{
    background: red
}